$roboto: "Roboto", sans-serif;
$raleway: "Raleway", sans-serif;

$white-color: #fff;
$primary-color: #3e2e7f;

$primary-dark: #4f9cd4 ;

$secondary-color: #794b8b;
$blue-bg: #120f4e;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #a9a9a9;

/*
sass --watch src/assets/sass/style.scss src/assets/css/style.css
command to applay
*/
