<!-- <app-countdownn [conference]="conference"> </app-countdownn> -->
<!-- <app-speaker3></app-speaker3> -->
<!-- {{ conference | json }} -->

<!-- <app-speaker4 [con_id]="con_id" [conference]="conference"> </app-speaker4> -->
<!-- <app-agenda></app-agenda> -->
<!-- <app-news></app-news> -->
<!-- <app-topics></app-topics> -->
<!-- <app-registration></app-registration> -->
<!-- <app-society [con_id]="con_id"></app-society> -->
<!-- <app-speaker4 [con_id]="con_id"></app-speaker4> -->
<!-- <app-sponsors></app-sponsors> -->
<!-- <app-contact></app-contact> -->
<!-- <app-map></app-map> -->
